body {
  font-family: "Fira Code";
}

h1 {
  color: red;
}

p,
li,
ul,
.patito,
#id {
  color: blue;
}

div .patito {
  color: beige;
}

div #id {
  color: beige;
}

/* Adentro en cualquier nivel */
div p {
  color: beige;
}

/* Solamente hijos directos */
div > p {
  color: aliceblue;
}

span {
  background-color: red;
}

span:hover {
  background-color: blue;
}

div:focus {
}

div > img {
  width: 200px;
}
